@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap')
.logo-img{
	width: 40px;
	height: 40px;
	margin-right: 1em;
}
#top {
	float: left;
	margin-top: 2em;
	margin-left: 2em;
	margin-right: 2em;
	width: -webkit-fill-available;
	display: flex;
}
.player-secondary-info {
	float: left;
	margin-top: 2em;
	margin-left: 2em;
	margin-right: 2em;
	width: -webkit-fill-available;
	display: flex;
}
.player-card {
	height: 9.5em;
	width: 35em;
	border-radius: var(--border-radius);
	background-color: var(--surface-color);
	transition: all.2s ease;
	float: left;
	position: relative;
	flex-basis: 35em;
}
.player-card:hover{
	transition: all.2s ease;
	box-shadow: 0 0 0.5em rgba(0,0,0,0.8);
}
.player-status-div {
	width: 35em;
	height: fit-content;
	max-height: 7em;
	background-color: var(--surface-color);
	border-radius: 0 1em 1em 1em;
	padding: 0.4em;
	position: relative;
	display: grid;
}
.player-status-div::after {
	content: " ";
	position: absolute;
	bottom: 100%;
	left: 0;
	border-width: 1em;
	border-style: solid;
	border-color: transparent transparent var(--surface-color) transparent;
}
.player-status-header {
	width: -webkit-fill-available;
	height: 1.7em;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	display: flex;
}
.player-status-header span {
	float: left;
	width: -webkit-fill-available;
}
.player-status-content {
	width: -webkit-fill-available;
    height: -webkit-fill-available;
    /*font-family: 'Balsamiq Sans', cursive;*/
    text-align: center;
    position: relative;
}
.status-player-mention {
	font-weight: bold;
}
.status-player-mention img {
	width: 1.3em;
	height: 1.3em;
	margin-right: 0.2em;
	margin-top: -0.4em;
}
#player-status-span {
	display: block;
	height: -webkit-fill-available;
	max-height: 4.5em;
	overflow: hidden;
}
.player-status-edit-div {
	width: -webkit-fill-available;
    height: 0;
	transform: scale(0);
}
#player-status-input {
	width: -webkit-fill-available;
    height: -webkit-fill-available;
    min-height: 4em;
	background-color: var(--background-color);
	border-radius: 0.5em;
	border: none;
	padding: 0.5em;
	text-align: center;
}
.status-button {
	width: 1.7em;
	height: 1.7em;
	position: absolute;
	right: 0.5em;
}
.status-button img {
	margin-left: 0.2em;
	margin-top: 0.2em;
	width: 1.3em;
	height: 1.3em;
	opacity: 0.5;
	float: left;
	filter: contrast(0%) brightness(1.9);
	transition: all.5s ease;
}
.status-button:hover > img {
	transition: all.5s ease;
	opacity: 1;
	filter: invert(48%) sepia(13%) saturate(2500%) hue-rotate(330deg) contrast(100%) brightness(1.5);
}
.card-content{
	height: 6em;
	margin: 1em;
}
.user-head {
	height: 5.5em;
	width: 5.5em;
	float: left;
	display: inline-block;
}
.user-head-first {
	height: 5.5em;
	width: 5.5em;
}
.user-head-second {
	height: 0.5em;
	width: 0.5em;
	position: absolute;
	background-position: -40px -8px;
	transform: translateX(40px) translateY(-46px) scale(12);
    image-rendering: pixelated;
}
.card-title{
	margin-left: 1em;
	float: left;
	display: grid;
}
.card-title span {
	font-size: 1.4em;
	font-weight: bold;
}
.card-title span span {
	font-size: 1em;
	font-weight: bold;
}
.card-title span:nth-child(even) {
	font-size: 1.1em;
	font-weight: bold;
}
.card-title-guild span {
	font-size: 1.1em;
	margin-left: 0.3em;
}
.card-title-guild img {
	width: 1.5em;
	height: 1.5em;
	margin-top: -0.3em;
}
.card-title-id{
	color: #97A9B4;
	cursor: pointer;
}
#card-title-top {
	cursor: pointer;
}
.status-tooltip {
	width: 14em;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	z-index: 1;
	content: " ";
	position: absolute;
	bottom: 1em;
	left: 0;
	background-color: black;
	padding: 0.5em;
	border-radius: var(--border-radius);
	font-weight: bold;
	transition: all.2s ease;
	color: var(--text-color);
}
.status-tooltip::after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}
.player-status:hover .status-tooltip {
	visibility: unset;
	transition: all.2s ease;
	opacity: 1;
}
.player-status {
	position: relative;
}
.friend {
	margin-right: auto!important;
	margin-left: auto!important;
	width: 13em;
	height: 2.5em;
	border-radius: 0.2em;
	padding: 0.3em;
}
.friend:hover {
	transition: all.2s ease;
	background-color: var(--surface-h-color);
}
.friend img {
	width: 30px;
	height: 30px;
	float: left;
}
.friend span {
	font-weight: bold;
	float: left;
	margin-left: 0.5em;
	margin-top: 0.2em;
}
.friend br {
	display: block;
	margin: -5px 0;
	line-height: -5px;
	content: " ";
}
.card-title-top-right{
	float: right;
}
.card-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 4em;
	text-align: center;
	overflow: hidden;
    border-radius: 1em;
    pointer-events: none;
}
.xp-progress {
	height: 0.5em;
	background-color: var(--green-color);
	border-radius: 0.3em;
	position: absolute;
	bottom: 0;
	pointer-events: none;
}
.xp-progress-bg {
	width: 100%;
	height: 0.5em;
	background-color: #303030;
	border-radius: 0.3em;
	position: absolute;
	bottom: 0;
	pointer-events: all;
}
.xp-tooltip {
	opacity: 0;
	visibility: hidden;
	z-index: 1;
	content: " ";
	position: absolute;
	bottom: 120%;
	left: 40%;
	background-color: black;
	padding: 0.5em;
	border-radius: var(--border-radius);
	font-weight: bold;
	transition: all.2s ease;
}
.xp-tooltip::after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}
.xp-progress-bg:hover .xp-tooltip {
	visibility: unset;
	transition: all.2s ease;
	opacity: 1;
}
.xp-level {
	font-size: 1.2em;
	font-weight: bold;
	position: absolute;
	bottom: 0.9em;
}
.xp-percent {
	font-size: 0.8em;
	color: #97A9B4;
}
.stats-place-top {
	margin-left: 2em;
	width: auto;
	height: 3em;
	border-radius: var(--border-radius);
	background-color: var(--surface-color);
	float: left;
	padding: 0.7em;
	padding-left: 1em;
	padding-right: 1em;
	font-weight: bold;
	overflow: hidden;
}
.stats-icon{
	width: 20px;
	height: 20px;
	margin-bottom: 5px;
	margin-right: 20px;
	margin-left: 3px;
}
.data-place {
	width: -webkit-fill-available;
	height: auto;
	margin-left: 2em;
	margin-right: 2em;
	float: left;
	margin-top: 2em;
	margin-bottom: 1.5em;
	display: flex;
}
.data-left-panel {
	width: 17em;
	height: auto;
	margin-right: 2em;
}
.actions-div {
	width: 100%;
	height: 40em;
	background-color: var(--surface-color);
	float: left;
	border-radius: var(--border-radius);
	animation: fadein-stats-place 0.5s;
	display: grid;
	position: relative;
}
.actions-div-header {
	float: left;
	width: -webkit-fill-available;
	height: fit-content;
	min-height: 3em;
	padding: 1em;
	padding-top: 0.7em;
}
.actions-div-header span {
	font-weight: bold;
	font-size: 1.1em;
}
.match-info-div {
	width: 40em;
    min-height: 10em;
    position: absolute;
    background: var(--surface-color);
    left: calc(100% + 10px);
    z-index: 2;
    top: 0;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 1em rgba(0,0,0,1);
    border-radius: 0.7em 0.7em 0.7em 0;
    padding: 1em;
    animation: fadeout-match-info 0.5s;
}
.match-info-div::after {
	content: " ";
	position: absolute;
	bottom: 0;
	right: 100%;
	border-width: 10px;
	border-style: solid;
	border-color: transparent var(--surface-color) transparent transparent;
}
@keyframes fadein-match-info {
    from { 
    	visibility: unset;
    	transform: scaleX(0);
    	opacity: 0; 
    }
    to { 
    	visibility: unset;
    	opacity: 1; 
    }
}
@keyframes fadeout-match-info {
    from { 
    	visibility: unset;
    	opacity: 1; 
    }
    to { 
    	transform: scaleX(0);
    	opacity: 0; 
    }
}
.match-info-row span span {
	color: var(--text-color);
}
.match-info-row span {
	color: #97A9B4;
}
.match-info-list {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
}
.user-el {
	margin-right: auto!important;
	margin-left: auto!important;
	width: 12em;
	border-radius: 0.2em;
	padding: 0.3em;
}
.user-el:hover {
	transition: all.2s ease;
	background-color: var(--surface-h-color);
}
.user-el img {
	width: 20px;
	height: 20px;
	margin-top: 4px;
	margin-left: 5px;
	margin-right: -2px;
	float: left;
}
.user-el span {
	font-weight: bold;
	float: left;
	margin-left: 0.5em;
	margin-top: 0.2em;
}
.user-el br {
	display: block;
	margin: -5px 0;
	line-height: -5px;
	content: " ";
}
.filter-div {
	width: 2em;
	min-height: 2em;
	padding-left: 0.4em;
	padding-top: 0.2em;
	background-color: var(--primary-color);
	border-radius: var(--border-radius);
	cursor: pointer;
	margin-top: 0.7em;
}
.filter-div:hover {
	background-color: #57F287;
}
.filter-div img {
	width: 20px;
	height: 20px;
}
.filter-window {
	float: left;
	width: 100%;
	height: auto;
	margin-top: 1em;
	overflow: hidden;
}
.filter-window-element {
	float: left;
	height: 2em;
	margin-right: 0.7em;
	margin-top: 0.7em;
	border-radius: 0.7em;
	background-color: var(--background-color);
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.25em;
	cursor: pointer;
}
.filter-window-element:hover {
	background-color: var(--primary-color);
}
.actions-place {
	float: left;
	height: 100%;
	width: -webkit-fill-available;
	padding: 1em;
	overflow-y: auto;
	overflow-x: hidden;
}
.actions-place::-webkit-scrollbar {
    width: 5px;
    margin-left: 10px;
}

.actions-place::-webkit-scrollbar-track {
    border-radius: 10px;
}

.actions-place::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #57F287;
}
.stats-div {
	width: -webkit-fill-available;
	height: auto;
	border-radius: var(--border-radius);
	/*background-color: var(--surface-color);*/
	float: left;
	padding-bottom: 2em;
	padding-left: 0;
	padding-right: 1.5em;
	animation: fadein-stats-place 0.5;
}
.stats-div::-webkit-scrollbar {
    width: 5px;
    margin-left: 10px;
}

.stats-div::-webkit-scrollbar-track {
    border-radius: 10px;
}

.stats-div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #57F287;
}
.stats-div-header {
	width: 100%;
	height: auto;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1.5em;
	background-color: var(--surface-color);
	border-radius: var(--border-radius);
}
.stats-div-header span:first-child {
	margin-right: 2em;
}
.stats-div-header span {
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-top: 0.1em;
}
.stats-header-body {
	width: 100%;
	height: 100%;
	pad-headerding-bottom: 0.5em;
	
	font-weight: bold;
	font-size: 1.2em;
	display: flex;
}
.stats-header-button {
	height: 2em;
	font-size: 0.9em;
	background-color: var(--background-color);
	border-radius: 1em 0 0 1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.2em;
	padding-bottom: 0.3em;
	margin-top: 0.1em;
	cursor: pointer;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.hover-slide::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
.hover-slide:hover::before {
  	transform: scaleX(1);
  	transform-origin: bottom left;
}
.hover-slide::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: var(--primary-color);
  z-index: -1;
  transition: transform .3s ease;
}
.stats-place {
	margin-top: 1em;
	float: left;
	display: flex;
  	flex-wrap: wrap;
  	margin-left: 1em;
  	margin-right: 1em;
}
.stat {
	width: 17em;
	height: 12em;
	border-radius: var(--border-radius);
	background-color: var(--surface-color);
	float: left;
	margin-bottom: 1.5em;
    animation: fadein-stat 0.5s;
    margin-right: auto!important;
	margin-left: 1.5em!important;
}
.stat-header {
	width: auto;
	min-height: 2em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	background-color: var(--primary-color);
	padding-left: 1em;
	padding-top: 0.3em;
	color: #FFFFFF;
	font-weight: bold;
}
.stat:hover .stat-header {
	min-height: 2.5em;
	margin-top: -0.5em;
}
.stat-row-place {
	width: auto;
	height: 9em;
	margin: 0.5em;
	padding-right: 0.5em;
	background-color: inherit;
	overflow-y: auto;
	overflow-x: hidden;
}
.stat-row-place::-webkit-scrollbar {
    width: 5px;
    margin-left: 10px;
}

.stat-row-place::-webkit-scrollbar-track {
    border-radius: 10px;
}
.stat-row-place::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #57F287;
}
.stat-content {
	width: auto;
	height: 10em;
	background-color: inherit;
	position: relative;
}
.stat-row {
	/*margin-bottom: 5px;*/
    /*border-bottom: 1px #97A9B4 solid;*/
    border-radius: 0.2em;
    line-height: 1;
    background-color: inherit;
    padding: 0.3em;
}
.stat-row:hover {
    background-color: var(--surface-h-color);
}
.stat-row span:nth-child(even) {
    float: right;
    padding-left: 6px;
}
.stat-title {
	width: 100%;
	margin-top: 0.2em;
	font-size: 1.3em;
	font-weight: bold;
	color: var(--green-color);
	text-align: center;
	cursor: pointer;
	position: absolute;
}
.stat-title:hover .stat-hover {
	visibility: unset;
	opacity: 1;
}
.stat-hover {
	visibility: hidden;
	opacity: 0;
	z-index: 5;
	width: 25em;
	min-height: 2em;
	max-height: 30em;
	padding: 1em;
	background-color: var(--background-color);
	border-radius: var(--border-radius);
	box-shadow: 0 0 0.5em rgba(0,0,0,0.8);
	position: absolute;
	bottom: -3em;
	left: -3.5em;
	text-align: left;
	font-size: 0.7em;
	overflow-x: hidden;
	overflow-y: auto;
}
.actions {
	width: 15em;
	height: auto;
	min-height: 4em;
	border-radius: var(--border-radius);
	background-color: var(--background-color);
	float: left;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
    animation: fadein-stat 0.5s;
    cursor: pointer;
}
.actions:hover {
	box-shadow: 0 0 0.4em rgba(0,0,0,1);
}
.actions-header {
	width: auto;
	min-height: 2em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	background-color: var(--primary-color);
	padding-right: 1em;
	padding-left: 1em;
	padding-top: 0.3em;
	color: #FFFFFF;
	font-weight: bold;
}
.actions-header span {
	margin-left: 0.7em;
/*	color: #97A9B4;*/
	font-size: 0.7em;
}
.actions-row-place {
	width: auto;
	height: auto;
	margin: 0.5em;
	background-color: inherit;
	padding-bottom: 1em;
}
.actions-content {
	width: auto;
	height: auto;
	overflow: auto;
}
.actions-content::-webkit-scrollbar {
    width: 5px;
    margin-left: 10px;
}
.actions-content::-webkit-scrollbar-track {
    border-radius: 10px;
}
.actions-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #57F287;
}

@keyframes fadein-stat {
    from { opacity: 0; margin-top: 2em; }
    to   { opacity: 1; margin-top: 0em; }
}

@keyframes fadein-date-picker {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadein-stats-place {
    from { opacity: 0; margin-top: -1em;}
    to   { opacity: 1;}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadein-not-found {
    from { opacity: 0; margin-left: -20em;}
    to   { opacity: 1; margin-left: 0;}
}
.daterangepicker {
	color: black;
}
.date-picker-place {
	margin-left: 0em;
	margin-top: 0.1em;
}
.date-picker-place input {
	background-color: var(--input-background-color);
	border-radius: 0.5em;
	color: var(--text-color);
	border: none;
	padding: 0em;
	font-size: 0.9em;
	font-family: var(--bs-body-font-family);
	font-weight: bold;
	height: 2em;
	text-align: center;
}
.not-found {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 20%;
}
.not-found h1 {
	animation: fadein-not-found 1.5s;
}
.not-found div, h3 {
	animation: fadein-not-found 2.5s;
	position: relative;
}
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
.not-found div span {
	font-family: 'Alfa Slab One', cursive;
	font-size: 3em;
	font-weight: bold;
	position: relative;
	animation: waviy 2s infinite cubic-bezier(0.31, 0.12, 0.46, 0.72);
	animation-delay: calc(.1s * var(--i));
}
@keyframes waviy {
  0%,80%,100% {
    bottom: 0;
  }
  40% {
    bottom: 0.5em;
  }
}
@keyframes blob-img {
  0%,100% {
    /*transform: scaleX(0.9) scaleY(1);*/
    transform: rotate(-5deg);
  }
  50% {
    /*transform: scaleX(1) scaleY(0.9);*/
    transform: rotate(5deg);
  }
}
.not-found img {
	margin-top: 2em;
	animation: fadein-not-found 2.5s;
	animation: blob-img 4s infinite;
}
.not-found-img {
	width: 100px;
	height: 100px;
}
.lb-div {
	width: 100%;
	height: 40em;
	margin-top: 2em;
	float: left;
	border-radius: var(--border-radius);
	background-color: var(--surface-color);
	padding-bottom: 2em;
	padding-left: 0;
	padding-right: 1.5em;
	animation: fadein-stats-place 0.5s;
	overflow-x: hidden;
	overflow-y: auto;
}
.lb-div::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    margin-left: 10px;
}

.lb-div::-webkit-scrollbar-track {
    border-radius: 10px;
}

.lb-div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #57F287;
}
.lb-div-header {
	font-weight: bold;
	font-size: 1.2em;
	margin-top: 0.5em;
	margin-left: 1.5em;
}
.lb-place {
	margin-top: 1em;
	float: left;
	padding: 1em;
}
.lb {
	width: 15em;
	height: auto;
	border-radius: var(--border-radius);
	background-color: var(--background-color);
	float: left;
	margin-bottom: 1.5em;
    animation: fadein-stat 0.5s;
}
.lb-header {
	width: auto;
	height: 4em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	background-color: var(--primary-color);
	padding-left: 1em;
	padding-top: 0.3em;
	color: #FFFFFF;
	font-weight: bold;
}
.lb:hover .lb-header {
	height: 4.5em;
	margin-top: -0.5em;
}
.lb-row {
	margin-bottom: 5px;
    line-height: 1;
    padding: 0.3em;
    border-radius: 0.2em;
}
.lb-row:hover {
    background-color: var(--surface-h-color);
}
.lb-row span {
    position: relative;
    font-weight: bold;
}
.lb-row span:first-child {
	width: 8em;
    display: inline-block !important;
}
.lb-row span div {
    background-color: var(--green-color-s);
    font-weight: bold;
    margin-left: 0.6em;
    margin-top: -0.1em;
    float: right;
    padding: 0.2em;
    padding-top: 0.1em;
    border-radius: 0.2em;
}
.lb-row span:nth-child(odd) {
    padding-right: 6px;
}
.lb-row span:nth-child(even) {
    float: right;
    padding-left: 6px;
}
.lb .stat-content {
	height: auto;
}
.lb .stat-row-place {
	height: auto;
}
.stats-loading {
	position: fixed;
	z-index: 1;
	background-color: var(--surface-color);
	width: 100%;
	height: 100%;
	bottom: 0em;
}
@keyframes out-stats-loading {
    from { 
    	height: 100%;
    }
    to { 
    	height: 0;
    }
}
.player-info {
	background-color: var(--surface-color);
	border-radius: var(--border-radius);
	min-width: 10em;
	width: -webkit-fill-available;
	height: 9.5em;
	margin-left: 2em;
	float: left;
	flex-basis: 10em;
	flex-grow: 1;
	display: grid;
	z-index: 1;
}
.player-info:hover {
	height: 13.5em;
	margin-bottom: -4em;
	box-shadow: 0 0 0.5em rgba(0,0,0,0.8);
}
.player-info-header {
	width: 100%;
	height: 2em;
	padding-left: 1em;
	padding-top: 0.2em;
}
.friends-ico {
	width: 25px;
	height: 25px;
	filter: invert(1) brightness(0.85);
	margin-top: -0.2em;
	margin-right: 0.3em;
}
.player-info-header span:last-child {
	font-size: 1.1em;
	font-weight: bold;
}
.friends-list {
	width: -webkit-fill-available;
	height: -webkit-fill-available;
	padding: 1em;
	padding-top: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	display: flex;
  	flex-wrap: wrap;
}