:root {
	--player-rank-color: #FFFFFF;
	--vip-rank-color: #00BE00;
	--premium-rank-color: #00DADA;
	--holy-rank-color: #ffba2d;
	--immortal-rank-color: #e800d5;
	--builder-rank-color: #009c00;
	--srbuilder-rank-color: #009c00;
	--maplead-rank-color: #009c00;
	--youtube-rank-color: #fe3f3f;
	--dev-rank-color: #00bebe;
	--organizer-rank-color: #00bebe;
	--moder-rank-color: #1a58cc;
	--warden-rank-color: #1a58cc;
	--chief-rank-color: #1a58cc;
	--admin-rank-color: #00bebe;

	--background-color: #181818;
	--surface-color: #212121;
	--surface-h-color: #2F2F2F;
	--primary-color: #6a52da;
	--text-color: #dddddd;
	--input-background-color: #181818;
	--notify-color: #6a52da;
	--green-color: #57F287;
	--red-color: #FC3640;
	--green-color-s: #0ac630;
	--red-color-s: #ff595a;

	--border-radius: 1em;

	--mc-color-0: #000000;
	--mc-color-1: #0000be;
	--mc-color-2: #00be00;
	--mc-color-3: #00bebe;
	--mc-color-4: #be0000;
	--mc-color-5: #be00be;
	--mc-color-6: #d9a334;
	--mc-color-7: #bebebe;
	--mc-color-8: #3f3f3f;
	--mc-color-9: #3f3ffe;
	--mc-color-a: #38d638;
	--mc-color-b: #2becec;
	--mc-color-c: #fe3f3f;
	--mc-color-d: #fe3ffe;
	--mc-color-e: #dcdc0c;
	--mc-color-f: #ffffff;
}
body {
	background-color: var(--background-color);
	color: var(--text-color);
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
* {
	transition: all.3s ease;
}
*:hover {
	transition: all.3s ease;
}
input, textarea, .default-input {
	color: var(--text-color);
	outline-style: solid;
	outline-color: #5865F200;
	outline-width: 3px;
	transition: all.5s ease;
}
input:focus, textarea:focus, .default-input:focus {
	transition: all.5s ease;
	outline-style: solid;
	outline-color: #5865F2;
	outline-width: 3px;
}
textarea {
	resize: none;
}
textarea::-webkit-scrollbar, div::-webkit-scrollbar {
    width: 5px;
    margin-left: 10px;
}

textarea::-webkit-scrollbar-track, div::-webkit-scrollbar-track {
    border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb  {
    border-radius: 10px;
    background-color: #57F287;
}
a {
	text-decoration: none;
}
.header {
	z-index: 5;
	width: 100%;
	height: 4em;
	background-color: var(--surface-color);
	padding: 0.7em;
	padding-left: 1em;
	padding-right: 2em;
}
@keyframes header-in {
    from { opacity: 0; margin-top: -4em;}
    to   { opacity: 1;}
}
.header input {
	width: 12em;
	border-radius: 0.5em;
	color: var(--text-color);
	border: none;
	padding: 0.5em;
	font-family: var(--bs-body-font-family);
	float: left;
	background: url(/static/svg/search.svg) no-repeat 0.4em;
	background-size: 1.5em;
	padding-left: 2.2em;
	background-color: var(--background-color);
	transition: all.5s ease;
}
.header input:focus {
	transition: all.5s ease;
	width: 15em;
}
.banner-img{
	width: 214px;
	height: 40px;
	margin-right: 1em;
}
.loading {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.4);
	user-select: none;
}
.loading-place {
	position: fixed;
	left: 35%;
	top: 35%;
	text-align: center;
}
.loading-place span {
	font-weight: bold;
	font-size: 2em;
}
.loading-bar {
	background-color: var(--surface-color);
	width: 25em;
	height: 1em;
	margin-top: 2em;
	border-radius: 0.7em;
	overflow: hidden;
}
.loading-bar-progress {
	background-color: var(--primary-color);
	width: 7em;
	height: 1em;
	margin-left: -5em;
	animation: loading-bar-anim 3s infinite;
}
@keyframes loading-bar-anim {
  from {
    margin-left: -5em;
    width: 7em;
  }

  50% {
  	margin-left: 20em;
  	width: 12em;
  }

  to {
     margin-left: -5em;
     width: 7em;
  }
}
@keyframes loading-in {
	from {
		visibility: unset;
	opacity: 0;
	}
	to {
		visibility: unset;
	opacity: 1;
	}
}
@keyframes loading-out {
	from {
		visibility: unset;
		opacity: 1;
	}
	to {
		visibility: hidden;
		opacity: 0;
	}
}
.bottom_notify {
	padding-top: 0.5em;
	position: fixed;
	bottom: 0%;
	width: 100%;
	height: 2.5em;
	background-color: var(--notify-color);
}
.bottom_notify span {
	margin-left: 1em;
	margin-top: 1em;
	color: #ffffff;
	font-weight: bold;
}
.close-img{
	margin-top: -0.1em;
	margin-right: 1em;
	float: right;
}
.close-img img{
	width: 15px;
	height: 15px;
	cursor: pointer;
}
.close-img img:hover {
	filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(340deg) contrast(80%);
}
.header a {
	float: left;
}
.header-button {
	margin-left: 1.5em;
	margin-top: -0.25em;
}
.default-button {
	width: 3em;
	height: 3em;
	border-radius: 0.3em;
	background: var(--surface-color);
	border-bottom: 0px solid var(--primary-color);
	cursor: pointer;
}
.default-button:hover {
	background: var(--background-color);
	border-bottom: 6px solid var(--primary-color);
}
.default-button img {
	animation: blob-out 0.2s;
	transform: scale(0.9, 0.9);
}
.default-button:hover > img {
	animation: blob-in 0.2s;
	transform: scale(1, 1);
}
@keyframes blob-in {
  	0% {
      transform: scale(0.9, 0.9);
    }
    50% {
      transform: scale(0.8, 1.2);
    }
    100% {
      transform: scale(1, 1);
	}
}
@keyframes blob-out {
  	0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 0.8);
    }
    100% {
      transform: scale(0.9, 0.9);
	}
}
.header-cup {
	margin-left: 0.7em;
	margin-top: 0.7em;
	width: 27px;
	height: 27px;
	opacity: 0.5;
	float: left;
	transition: all.5s ease;
}
.header-button:hover .header-cup {
	transition: all.5s ease;
	opacity: 1;
	filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(10deg) contrast(150%) brightness(1.5);
}
.header-admin {
	margin-left: 0.4em;
	margin-top: 0.4em;
	width: 35px;
	height: 35px;
	opacity: 0.5;
	float: left;
	filter: contrast(0%) brightness(1.9);
	transition: all.5s ease;
}
.header-button:hover .header-admin {
	transition: all.5s ease;
	opacity: 1;
	filter: invert(48%) sepia(13%) saturate(2500%) hue-rotate(330deg) contrast(100%) brightness(1.5);
}
.header-key {
	margin-left: 0.6em;
	margin-top: 0.5em;
	width: 28px;
	height: 28px;
	opacity: 0.5;
	filter: contrast(0%) brightness(1.9);
	transition: all.5s ease;
}
.header-button:hover .header-key {
	transition: all.5s ease;
	opacity: 1;
	filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(10deg) contrast(150%) brightness(1.5);
}
.header-head {
	margin-left: 0.55em;
	margin-top: 0.5em;
	width: 30px;
	height: 30px;
	opacity: 0.5;
	transition: all.5s ease;
}
.header-button:hover .header-head {
	transition: all.5s ease;
	opacity: 1;
}
.header-button span {
	color: var(--text-color);
	font-weight: bold;
	font-size: 1.25em;
	float: left;
	margin-left: 0.7em;
	opacity: 0.5;
	transition: all.5s ease;
}
.header-button:hover span {
	transition: all.5s ease;
	opacity: 1;
}
.update {
	width: 100%;
	height: 100%;
	top: 0;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 3;
	animation: update-in 1s;
}
.update-window {
	background: var(--surface-color);
	border-radius: var(--border-radius);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	margin: auto;
	margin-top: 10em;
	width: 40em;
	height: auto;
	padding: 1em;
	animation: update-window-in 1s;
	white-space: pre-wrap;
	position: relative;
}
.message {
	width: 100%;
	height: 100%;
	background-color: var(--background-color);
	border-radius: 0.5em;
	padding: 0.5em;
}
@keyframes update-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes update-window-in {
	from {
		opacity: 0;
		margin-top: 7em;
	}
	to {
		opacity: 1;
		margin-top: 10em;
	}
}
@keyframes update-out {
	from {
		visibility: unset;
		opacity: 1;
	}
	to {
		visibility: unset;
		opacity: 0;
	}
}
@keyframes update-window-out {
	from {
		visibility: unset;
		opacity: 1;
		margin-top: 10em;
	}
	to {
		visibility: unset;
		opacity: 0;
		margin-top: 7em;
	}
}
.discord-logo-update {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 1em;
	top: 1em;
	transition: filter.3s ease;
}
.discord-logo-update:hover {
	transition: filter.3s ease;
	filter: drop-shadow(0 0 0.3em #5865F2);
}
.error_notify {
	background-color: var(--red-color);
	border-radius: 0.5em;
	width: 15em;
	margin-top: 1em;
	padding: 0.5em;
	position: relative;
	align-content: center;
	font-weight: bold;
	overflow: hidden;
	animation: error-in-out 8s ease-in-out;
}
.error_bottom {
	background-color: var(--text-color);
	position: absolute;
	width: 100%;
	height: 0.3em;
	left: 0;
	bottom: 0;
	animation: error-bottom-out 8.5s linear;
}
.error_place {
	position: fixed;
	right: 1em;
	bottom: 1em;
	display: grid;
}
@keyframes error-bottom-out {
	from {
		width: 100%;
	}
	to {
		width: 0;
	}
}
@keyframes error-in-out {
	from {
		right: -20em;
	}
	5% {
		right: 2em;
	}
	7% {
		right: 1em;
	}
	90% {
		right: 1em;
	}
	95% {
		right: 2em;
	}
	to {
		right: -20em;
	}
}